h1 {
    font-size: 40px;
}

main {
    display:flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.base {
    width: 50%;
}

.title {
    background-color: black;
    color: aliceblue;
}

.wrap {
    display: flex;
    justify-content: center;
    
}